.main__button {
  height: 32px;
  width: 100px;
  background: #100c34;
  border: 1px solid #100c34;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.main__button:disabled {
  opacity: 0.7;
}
